# CloudBase
EXPO_PUBLIC_CLOUDBASE_ENV_ID=jiulou-4gu5ljkpa1082b3c

# MiniMax
EXPO_PUBLIC_MINIMAX_API_KEY=sk-cp-eBYEw7ImOYJDNU5T6fWx18TDdVNlJCtT1eX99cbbibw0zGzjQ8DUstAt7TcBhXLjrOR4hYyeV3FqgoNfUzds6vJN4IhhMTY9w1fRwhJlyFQ3fP02_SYn49Y
