# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Expo (legacy)
.expo/
.expo-shared/
dist/

# Metro
.metro-health-check*

# Testing
coverage/

# Bundle
*.jsbundle

# CocoaPods
**/Pods/
/vendor/bundle/

# Env
.env
.env.local
*.local

# IDE
.vscode/

# Logs
*.log
